-#- if notice
-#	.col-sm-6.col-md-6
-#		.alert.alert-warning
-#			%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"}
-#				×
-#			%span.glyphicon.glyphicon-record
-#			%strong Warning Message
-#			%hr.message-inner-separator
-#			%p
-#				= notice

- if alert
	.col-sm-12.col-md-12
		.alert.alert-danger
			%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"}
				×
			%span.glyphicon.glyphicon-hand-right
			%strong Danger Message
			%hr.message-inner-separator{style: 'margin: 5px 0px;'}
			%p
				= alert

- unless signed_in?
	.col-sm-6.col-md-6
		.alert.alert-info{style: 'margin: 50px 0px -114px;'}
			%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"}
				×
			%span.glyphicon.glyphicon-info-sign
			%strong Info Message
			%hr.message-inner-separator
			%p
				Please login to manage Events.

- if notice
	.col-sm-12.col-md-12
		.alert.alert-success
			%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"}
				×
			%span.glyphicon.glyphicon-ok
			%strong Success Message
			%hr.message-inner-separator{style: 'margin: 5px 0px;'}
			%p
				= notice