body
	font-family: 'Open Sans', sans-serif
	-webkit-font-smoothing: antialiased
	-moz-font-smoothing: antialiased
	font-smoothing: antialiased
.index
	.boxed
		-webkit-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26)
		-moz-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26)
		box-shadow: 0 0 12px rgba(58, 51, 46, 0.26)
		border-radius: 5px
		overflow: hidden
		position: relative
		.action-admin
			display: none
			margin: 10px
			position: absolute
			right: 0px
		.offer
			position: absolute
		.caption
			height: 220px
			width: 100%
			overflow: hidden
		.place
			border-top: 1px solid #ECECEC
			border-bottom: 1px solid #ECECEC
			padding: 10px
			margin-bottom: 1px
		.price
			display: inline-block
			margin-left: -2px
			.btn-labeled
				max-width: 107px
		.like
			float: right
			margin: 4px
			margin-left: 0
		.attendee
			position: absolute
			top: 0
			height: 74%
			width: 100%
			background: #FFF
			padding: 5px
			z-index: 99
			overflow: auto
			display: none
			border-bottom: 1px solid #E9E9E9
			.avatar
				width: 34px
				border: 1px solid #ACACAC
				border-radius: 4px
				margin: 4px
				display: inline-block
				img
					width: 100%

		&:hover
			.action-admin
				display: inline-block

.show
	.boxed
		-webkit-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26)
		-moz-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26)
		box-shadow: 0 0 12px rgba(58, 51, 46, 0.26)
		border-radius: 5px
		overflow: hidden
		position: relative
		.attendee
			padding: 0
			margin: 0
			li
				list-style-type: none
				padding: 10px
				border-bottom: 1px solid silver
				&:first-child
					font-size: 20px
					i
						vertical-align: -2px
				&:last-child
					border: none
				.avatar
					display: inline-block
					width: 40px
					border: 1px solid #A2A2A2
					border-radius: 4px
					margin-right: 6px
					img
						width: 100%


.btn-labeled
	padding-top: 0
	padding-bottom: 0
	.btn-label
		position: relative
		left: -11px
		display: inline-block
		padding: 6px 12px
		background: rgba(0, 0, 0, 0.15)
		border-radius: 3px 0 0 3px

	.btn-success
		color: #FFF
		background-color: #5CB85C
		border-color: #4CAE4C

.ui-group-buttons
	margin: 0 auto
	display: block
	.or
		position: relative
		float: left
		width: .3em
		height: 1.3em
		z-index: 3
		font-size: 12px
		&:before
			position: absolute
			top: 50%
			left: 50%
			content: 'or'
			background-color: #5a5a5a
			margin-top: -0.1em
			margin-left: -0.9em
			width: 1.8em
			height: 1.8em
			line-height: 1.55
			color: #fff
			font-style: normal
			font-weight: 400
			text-align: center
			border-radius: 500px
			-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1)
			box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1)
			-webkit-box-sizing: border-box
			-moz-box-sizing: border-box
			-ms-box-sizing: border-box
			box-sizing: border-box
		&:after
			position: absolute
			top: 0
			left: 0
			content: ' '
			width: .3em
			height: 2.84em
			background-color: rgba(0, 0, 0, 0)
			border-top: .6em solid #5a5a5a
			border-bottom: .6em solid #5a5a5a
		&.or-lg
			height: 1.3em
			font-size: 16px
			&:after
				height: 2.85em
		&.or-sm
			height: 1.1em
			&:after
				height: 2.7em
		&.or-xs
			height: .25em
			&:after
				height: 1.84em
				z-index: -1000
	vertical-align: middle
	&:after
		content: "."
		display: block
		height: 0
		clear: both
		visibility: hidden
	.btn
		float: left
		border-radius: 0
		&:first-child
			margin-left: 0
			border-top-left-radius: .25em
			border-bottom-left-radius: .25em
			padding: 10px 30px
		&:last-child
			border-top-right-radius: .25em
			border-bottom-right-radius: .25em
			padding: 10px 29px